<button mat-stroked-button type="button" [matMenuTriggerFor]="menu">
  <mat-icon>download</mat-icon>
  {{ 'Export' | translate }}
</button>
<mat-menu #menu="matMenu">
  @for (item of formats; track item.format) {
    <button mat-menu-item type="button" (click)="chosen.emit(item.format)">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </button>
  }
  @if (backgroundEnabled()) {
    <mat-divider />
    <button mat-menu-item type="button" disabled>{{ 'In the background (large exports)' | translate }}</button>
    <button mat-menu-item type="button" (click)="background.emit('csv')">
      <mat-icon>schedule</mat-icon>
      <span>CSV</span>
    </button>
    <button mat-menu-item type="button" (click)="background.emit('xlsx')">
      <mat-icon>schedule</mat-icon>
      <span>Excel</span>
    </button>
  }
</mat-menu>
