<div class="login-page">
  <mat-card class="login-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ 'Choose a new password' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (!email() || !code()) {
        <p>{{ 'This reset link is invalid or has expired.' | translate }}</p>
        <a mat-flat-button color="primary" routerLink="/forgot-password">{{ 'Request a new link' | translate }}</a>
      } @else if (done()) {
        <p>{{ 'Your password has been changed. You can sign in now.' | translate }}</p>
        <a mat-flat-button color="primary" routerLink="/login">{{ 'Back to sign in' | translate }}</a>
      } @else {
        <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'New password' | translate }}</mat-label>
            <input matInput type="password" formControlName="newPassword" autocomplete="new-password" />
          </mat-form-field>

          @if (error()) {
            <p class="login-form__error">{{ error()! | translate }}</p>
          }

          <button mat-flat-button color="primary" type="submit" [disabled]="submitting()" class="login-form__submit">
            {{ 'Set new password' | translate }}
          </button>
          <a mat-button routerLink="/login">{{ 'Back to sign in' | translate }}</a>
        </form>
      }
    </mat-card-content>
  </mat-card>
</div>
